<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loblok.upc.mapper.CouponIssueLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.loblok.upc.modules.mall.entity.CouponIssueLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="template_code" property="templateCode" />
        <result column="biz_type" property="bizType" />
        <result column="biz_id" property="bizId" />
        <result column="status" property="status" />
        <result column="error_msg" property="errorMsg" />
        <result column="issued_at" property="issuedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, template_code, biz_type, biz_id, status, error_msg, issued_at
    </sql>

</mapper>
