<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loblok.upc.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.loblok.upc.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="salt" property="salt" />
        <result column="status" property="status" />
        <result column="last_login_at" property="lastLoginAt" />
        <result column="tenant_id" property="tenantId" />
        <result column="created_at" property="createdAt" />
        <result column="exp" property="exp" />
        <result column="points" property="points" />
        <result column="user_level" property="userLevel" />
        <result column="is_permanent_member" property="isPermanentMember" />
        <result column="member_expire_at" property="memberExpireAt" />
        <result column="computing_power" property="computingPower" />
        <result column="works" property="works" />
        <result column="likes" property="likes" />
        <result column="followers" property="followers" />
        <result column="lottery_counts" property="lotteryCounts" />
        <result column="ischickined" property="ischickined" />
        <result column="streakdays" property="streakdays"/>
        <result column="update_at" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, email, computing_power
          phone, avatar_url, salt, status, last_login_at, tenant_id,
          update_at,
          works, likes, followers,lottery_counts, ischickined, streakdays,
          created_at, exp, points, user_level, is_permanent_member, member_expire_at
    </sql>

</mapper>