<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loblok.upc.mapper.UserItemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.loblok.upc.entity.UserItems">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="item_type" property="itemType" />
        <result column="quantity" property="quantity" />
        <result column="valid_from" property="validFrom" />
        <result column="valid_to" property="validTo" />
        <result column="source_type" property="sourceType" />
        <result column="source_id" property="sourceId" />
        <result column="extra" property="extra" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, item_type, quantity, valid_from, valid_to, source_type, source_id, extra, created_at, updated_at
    </sql>

    <update id="consumeOneChance">
            UPDATE user_items
            SET quantity = quantity - 1, updated_at = NOW()
            WHERE id = #{Id}
              AND item_type = 4
              AND quantity > 0
              AND (valid_to IS NULL OR valid_to > NOW())
                ORDER BY valid_to ASC, created_at ASC
            LIMIT 1
    </update>

</mapper>
