<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loblok.upc.worker.mapper.NotificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.loblok.upc.worker.entity.Notification">
        <id column="id" property="id"/>
        <result column="from_user_id" property="fromUserId"/>
        <result column="to_user_id" property="toUserId"/>
        <result column="type" property="type"/>
        <result column="target_id" property="targetId"/>
        <result column="content" property="content"/>
        <result column="is_read" property="isRead"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, from_user_id, to_user_id, type, target_id, content, is_read, create_time
    </sql>

</mapper>
