<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loblok.upc.user.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.loblok.upc.user.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="tenant_id" property="tenantId" />
        <result column="created_at" property="createdAt" />
        <result column="exp" property="exp" />
        <result column="points" property="points" />
        <result column="user_level" property="userLevel" />
        <result column="is_permanent_member" property="isPermanentMember" />
        <result column="member_expire_at" property="memberExpireAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, tenant_id,exp, points, user_level, is_permanent_member, member_expire_at,created_at
    </sql>

</mapper>
